<% layout('layouts/boilerplate') %>
    <!-- <form action="/campgrounds/<%= campground._id %>?_method=PATCH" method="post">
        <label for="title">title :</label>
        <input type="text" id="title" name="campground[title]" value="<%= campground.title %>">
        <label for="location">location :</label>
        <input type="text" id="location" name="campground[location]" value="<%= campground.location %>">
        <button>
            SAVE
        </button>
    </form> -->

    <div class="row">
        <h1 class="text-center">Edit campground</h1>
        <div class="col-6 offset-3">
            <form action="/campgrounds/<%= campground._id %>?_method=PATCH" method="post" novalidate
                class="bootstrapvalidate" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input class="form-control" id="title" value="<%= campground.title %>" aria-describedby="emailHelp"
                        name="campground[title]" required>
                    <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input class="form-control" value="<%= campground.location %>" id="location"
                        name="campground[location]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Add more Images</label>
                    <input class="form-control" name="image" type="file" id="image" multiple>
                  </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea class="form-control" id="description" aria-describedby="emailHelp"
                        name="campground[description]" required><%= campground.description %></textarea>
                    <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="price"> Price</label>
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon1">$</span>
                        <input type="number" class="form-control" placeholder="0.00" aria-label="Username"
                            aria-describedby="basic-addon1" id="price" name="campground[price]" required
                            value="<%= campground.price %>">
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>
                <div class="mb-3">
                    <% campground.images.forEach((img,i)=>{%>
                        <img class="img-thumbnail" src="<%= img.thumbnail %>" alt="">
                  
                  <div class="mb-3 form-check-inline">
                    <input type="checkbox" class="form-check-input" id="image-<%= i %>" name="deleteImages[]" value="<%= img.filename %>">
                    <label class="form-check-label" for="exampleCheck1">Delete</label>
                </div>
                <%  }) %>
                </div>
                <button type="submit" class="btn btn-success">Save Campground</button>
            </form>
        </div>
    </div>